<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <ul id="navBar">
                <li class="navBarLink"><a href="/home">HOME</a></li>
                <li class="navBarLink"><a href="/workouts">WORKOUTS</a></li>
                <li class="navBarLink"><a href="/exercises">EXERCISES</a></li>
                <li class="navBarLink"><a href="/analysis">ANALYSIS</a></li>
                <li class="navBarLink"><a href="/logout">LOG OUT</a></li>
            </ul>
        </nav>
            <h1 style="text-align: center; background-color: #469EC4; margin-left: 45vw; width: 10vw; border: 0.5vmin solid; border-color: #1D3461;"><%= title %></h1>
