<%- include('../partials/header') %>
<form action="/workouts/<%= workoutId %>/exercises/new" method="GET">
    <input type="hidden" name="curCategory" value="<%= category.name %>">
    <button type="submit">Add Exercise</button>
</form>

<%- include('../partials/footer') %>