<%- include('./partials/header') %>

<ul>
    <li><a href="/workouts">Workout Calendar</a></li>
    <li><a href="/exercises">Exercises</a></li>
    <li><a href="/analysis">Analysis</a></li>
</ul>
<!-- <a href="/body-tracker">Body Tracker</a> -->
<!-- <a href="/connect">Connect</a> -->

<%- include('./partials/footer') %>