<%- include('./partials/header') %>

<!-- <a href="/calendar">Calendar</a> -->
<a href="/exercises">Exercises</a>
<!-- <a href="/body-tracker">Body Tracker</a> -->
<!-- <a href="/connect">Connect</a> -->

<%= console.log(user._id) %>

<%- include('./partials/footer') %>