<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul id="navBar">
          <li><a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
      </ul>
  </nav>
    <div style="display: flex; justify-content: center;">
      <p style="font-size: 30px; width: 60%;">
        Looking to get in shape? Track your workouts with this intuitive and easy to use fitness tracker! Log in with your google account and start right away with some exercises already provided to you. Or add your own categories and exercises templates to use as you begin your fitness journey. Once you have all of the exercises you want, navigate to the workout calendar and start tracking your workouts. Add multiple sets and track weight and reps, distance and time, or any combination of the 4 depending on your exercise. Watch as your calendar starts to fill up with workouts day after day, month after month. Or, see your progress in graph form on the analysis page (currently under construction).
      </p>
    </div>
  </body>
</html>
