body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.calendarBody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #374709;
}

.wrapper {
  width: 450px;
  background: #F2F2EF;
  border-radius: 10px;
}

.calendar {
  padding: 20px;
}

.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
}

.calendar .days {
  margin-bottom: 20px;

}
.calendar .days li {
  cursor: pointer;
  margin-top: 30px;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .currentDate {
  font-size: 1.45rem;
  font-weight: 500;
}

.inactive {
  color: rgb(172, 172, 172);
}

.active {
  color: red;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#navBar {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  background-color: black;
}

.navBarLink {
  display: inline;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #bbb;
  margin-left: -4px;
}

.navBarLink > a {
  padding: 20px 20px;
}

.navBarLink:hover {
  background-color: red;
}

.exercisesIndex {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: 2vw 15vw;
  grid-template-rows: auto;
  align-items: center;
};
