<%- include('../partials/header') %>


<% categories.forEach(c => { %>
    <h1><%= c.name %></h1>
    <div><%= c.exercise %></div>
<% }) %>
<a href="/exercises/new">Add Exercise</a>

<%- include('../partials/footer') %>