<%- include('../partials/header') %>

<form id="new-form" action="/exercises" method="POST">
    <label>Exercise Name:</label>
    <input type="text" name="name">
    <label>Category</label>
    <select name="catName">
        <% categories.forEach(c => { %>
            <option value="<%= c.name %>"><%= c.name %></option>
        <% }) %>
    </select>
    <label>Type:</label>
    <select name="exType" id="exType">
        <option value="Weight">Weight</option>
        <option value="Reps">Reps</option>
        <option value="Distance">Distance</option>
        <option value="Time">Time</option>
        <option value="Weight and Reps">Weight and Reps</option>
        <option value="Distance and Time">Distance and Time</option>
        <option value="Weight and Distance">Weight and Distance</option>
        <option value="Weight and Time">Weight and Time</option>
        <option value="Reps and Distance">Reps and Distance</option>
        <option value="Reps and Time">Reps and Time</option>
    </select>
    <label>Weight Unit</label>
    <select name="weightUnit">
        <option value="lbs">lbs</option>
        <option value="kgs">kgs</option>
    </select>
    <label>Distance Unit:</label>
    <select name="distanceUnit">
        <option value="ft">ft</option>
        <option value="mi">mi</option>
        <option value="m">m</option>
        <option value="km">km</option>
    </select>
    <label>Description</label>
    <input type="text" name="description">
    <input type="submit" value="Add Exercise">
</form>

<form action="/exercises/categories" method="post">
    <input type="text" name="name">
    <input type="submit" value="Add New Category">
</form>

<%- include('../partials/footer') %>